.Footer {
    padding-top: 64px;

    display: flex;
    flex-direction: column;
}

.wave {
    max-width: 100%;
    min-height: 121px;
    object-fit: cover;
}
.content {
    background-color: #1e1e1e;

    width: 100%;

    display: flex;
    justify-content: center;
}
.container {
    padding: 26px 12px;

    max-width: 1396px;
    height: 278px;
    width: 100%;
}
.heading {
    font-size: 50px;
    font-weight: 800;
    color: white;
}
