.MainPage {
    padding: 8px 0;
}

.slider {
    border: #1e1e1e solid 3px;
    border-radius: 32px;

    max-width: 1680px;
    width: 100%;
    height: 801px;
}

.slide {
}

.slideImage {
    border-radius: 28px;

    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slideDescription {
    position: absolute;
    bottom: -340px;
    left: 285px;

    border-radius: 32px 32px 0 0;

    padding: 20px 32px;

    background-color: rgba(30, 30, 30, 0.85);

    max-width: 547px;
    width: 100%;
    transition: 0.5s;
}
.slideDescription:hover {
    bottom: 0px;
}
.slideDescriptionTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slideDescriptionTitleText {
    color: white;
    font-size: 24px;
}
.slideDescriptionTitleIcon {
}
.slideDescriptionText {
    padding: 32px 0;

    height: 334px;
    overflow-y: scroll;

    font-size: 22px;
    color: white;
    font-weight: 400;
}
