.News {
    display: flex;
    gap: 36px;
    flex-direction: column;
}

.slider {
    position: relative;

    width: 100%;
}

.slide {
    width: 295px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 12px;
}
.slideImage {
    border-radius: 16px;
    width: 100%;
    height: 238px;

    object-fit: cover;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.86) inset;
}
.slideName {
    font-size: 26px;
}
.sliderButton {
    position: absolute;
    top: 95px;
    z-index: 10;

    border-radius: 100%;

    background-color: rgba(255, 255, 255, 0.37);

    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}
.sliderButton_prev {
    left: 10px;
}
.sliderButton_next {
    right: 10px;
}

.sliderButtonIcon {
    width: 12px;
    height: 24px;
}
.sliderButtonIcon_prev {
    position: relative;
    right: 2px;
}
.sliderButtonIcon_next {
    position: relative;
    left: 1px;
}
