@font-face {
    font-family: "Noto Sans";
    src: url("../../assets/fonts/NotoSans/NotoSans-Regular.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../../assets/fonts/NotoSans/NotoSans-Medium.ttf");
    font-weight: 500;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../../assets/fonts/NotoSans/NotoSans-Bold.ttf");
    font-weight: 700;
}
@font-face {
    font-family: "Noto Sans";
    src: url("../../assets/fonts/NotoSans/NotoSans-ExtraBold.ttf");
    font-weight: 800;
}
